@import url("https://use.typekit.net/hck3smx.css");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&family=Montserrat:wght@300&family=Nothing+You+Could+Do&family=Spartan:wght@100&display=swap");

$jeanne: jeanne-moderno-geometrique, sans-serif;
$sutro: sutro-shaded-primary, sans-serif;
$tomarik: tomarik-display-line-shadow, sans-serif;
$broadacre: broadacre-hairline-3, sans-serif;
$josefin: "Josefin Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;
