@import "styles";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  background-color: #f6f6ef;
  font-family: $montserrat;
}

header {
  background-color: #ffb6c1;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: sticky;
  top: 0px;

  #text {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    h1 {
      color: red;
      font-family: $tomarik;
      font-weight: 100;
      font-style: normal;
      padding: 30px;
      //   background-color: lightpink;
      font-size: 4.5rem;
      margin: 0;
      width: 100%;
    }

    #info {
      width: 60%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      p {
        margin: 0;
        // background-color: lightpink;
        width: 30%;
        padding: 15px;
        border-radius: -5px;
        position: relative;
        font-family: $josefin;
        font-size: 2rem;
        font-weight: 600;
        color: #402121;
      }
    }
  }

  #arrows {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    position: absolute;
    bottom: 20px;

    @keyframes color-one {
      0% {
        color: grey;
      }
      //   25% {
      //     color: #a9a9a9;
      //   }

      50% {
        color: black;
      }
      //   75% {
      //     color: #a9a9a9;
      //   }

      100% {
        color: grey;
      }
    }

    @keyframes color-two {
      0% {
        color: grey;
      }
      //   25% {
      //     color: #a9a9a9;
      //   }

      50% {
        color: black;
      }
      //   75% {
      //     color: #a9a9a9;
      //   }

      100% {
        color: grey;
      }
    }

    @keyframes color-three {
      0% {
        color: grey;
      }
      //   25% {
      //     color: #a9a9a9;
      //   }

      50% {
        color: black;
      }
      //   75% {
      //     color: #a9a9a9;
      //   }

      100% {
        color: grey;
      }
    }

    /* The element to apply the animation to */
    #one {
      animation-name: color-one;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }

    #two {
      animation-name: color-two;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-delay: 1s;
    }

    #three {
      animation-name: color-three;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-delay: 2s;
    }
  }
}

#wrapper {
  width: 100%;
  margin: 0;
  //   #about {
  //     width: 100%;
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     margin: 0 auto;
  //     height: 100vh;
  //     position: sticky;
  //     top: 0px;
  //     background-color: rgba(0, 0, 0, 0.44);

  //     #image {
  //       width: 200px;
  //       height: 200px;
  //       background-image: url(../assets/nedladdning.png);
  //       border-radius: 50%;
  //       background-position: center;
  //       background-size: cover;
  //     }
  //     #text {
  //       background-color: #fff;
  //       width: 50%;
  //       position: relative;
  //       display: flex;
  //       flex-direction: column;
  //       justify-content: space-evenly;
  //       padding: 20px;

  //       #triangle {
  //         width: 0;
  //         height: 0;
  //         border-top: 50px solid transparent;
  //         border-bottom: 50px solid transparent;
  //         border-right: 50px solid #fff;
  //         left: -50px;
  //         top: 50px;
  //         position: absolute;
  //       }

  //       h2,
  //       p {
  //         margin: 0;
  //         padding: 0;
  //       }

  //       h2 {
  //         font-family: $josefin;
  //         font-weight: 600;
  //       }
  //       p {
  //         font-family: $montserrat;
  //       }
  //     }
  //   }

  #about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    height: 100vh;
    position: sticky;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.44);

    #big {
      z-index: 300;
    }

    #image {
      width: 200px;
      height: 200px;
      background-image: url(../assets/nedladdning.png);
      border-radius: 50%;
      background-position: center;
      background-size: cover;
    }
    #text {
      background-color: #fff;
      width: 50%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 20px;

      #triangle {
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-right: 50px solid #fff;
        left: -50px;
        top: 50px;
        position: absolute;
      }

      h2,
      p {
        margin: 0;
        padding: 0;
      }

      h2 {
        font-family: $josefin;
        font-weight: 600;
      }
      p {
        font-family: $montserrat;
      }
    }
  }

  #work-container {
    width: 100%;
    .work {
      width: 100%;
      height: 100vh;
      position: sticky;
      top: 0px;

      #arrow-up,
      #arrow-down {
        position: absolute;
        left: 50%;
      }
      #arrow-up {
        top: 20px;
      }
      #arrow-down {
        bottom: 20px;
      }

      ul {
        margin: 0 0 20px 0;
        padding: 0;
        li {
          list-style: none;
          i {
            margin-right: 10px;
          }
        }
      }
    }
    #first {
      background-color: rgb(165, 42, 42);
    }
    #second {
      background-color: blue;
    }
    #third {
      background-color: #515f52;
    }
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 100%;
      .text-box {
        background: #fff;
        width: 80vw;
        height: 55vh;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        #image {
          height: 100%;
          width: auto;
          // background-image: url("../assets/serengeti_index.png");
          // border-radius: 20px 0 0 20px;
          // background-size: cover;
          // background-position: left;
          border-radius: 20px 0 0 20px;
        }

        #text {
          width: calc(50% - 30px);
          display: flex;
          flex-direction: column;
          height: 80%;
          justify-content: space-evenly;

          h1 {
            font-family: $josefin;
            font-weight: 600;
            font-size: 2rem;
            margin: 0;
          }

          p {
            margin: 0;
            padding: 0;
          }
        }

        #click {
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          button {
            background-color: #a79d85;
            width: 50%;
            border: none;
            border-radius: 5px;
            height: 5vh;
            font-family: $montserrat;
            text-transform: uppercase;
            color: #fff;
          }

          #git {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
  }

  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
}
